<ng-container *ngIf="(table$ | async) as table">
    <table app-styled-table>
        <thead>
            <tr>
                <ng-container *ngFor="let header of table.headers">
                    <th>{{header}}</th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let items of table.items">
                <tr>
                    <td>{{items.name}}</td>
                    <td>{{items.quantity}}</td>
                    <td>{{items.price}}</td>
                    <td>{{items.averageCost}}</td>
                    <td>{{items.marketValue}}</td>
                    <td>{{items.gainLoss}}</td>
                    <td>{{items.persentOfPortfolio}}</td>
                    <td>actons</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</ng-container>